<ul id="customersList">
    <li class="text-center empty-customers">
        <span class="root">
            <a class="sas">No Customers</a>
        </span>
    </li>
    <li id="customer_2" data-customerId="2" draggable="true">
        <span class="root" data-toggle="collapse" data-target="#customer_details_2">
            <button class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i>
            </button>
            <a class="sas">Tanzil</a>
        </span>

        <ul class="nav collapse" id="customer_details_2">
            <li id="customerMember_21">
                <span class="root" data-toggle="collapse" data-target="#customerMemberDetails_21">
                    <button class="btn btn-default btn-sm">
                        <i class="fa fa-plus"></i>
                    </button>
                    <a class="sas">Member 1</a>
                </span>

                <ul id="customerMemberDetails_21" class="nav collapse px-0">
                    <li>
                        <span class="root">
                            <i class="no-child"></i>
                            <a class="sas">+M02398439843</a>
                        </span>
                    </li>
                    <li>
                        <span class="root">
                            <i class="no-child"></i>
                            <a class="sas">+966398439843</a>
                        </span>
                    </li>
                    <li>
                        <span class="root">
                            <i class="no-child"></i>
                            <a class="sas text-success">17101-22323298-3</a>
                        </span>
                    </li>
                    <li>
                        <span class="root">
                            <i class="no-child"></i>
                            <a class="sas text-success">Umrah</a>
                        </span>
                    </li>
                </ul>
            </li>
            <li id="customerMember_22">
                <span class="root" data-toggle="collapse" data-target="#customerMemberDetails_22">
                    <button class="btn btn-default btn-sm">
                        <i class="fa fa-plus"></i>
                    </button>
                    <a class="sas">Member 2</a>
                </span>

                <ul id="customerMemberDetails_22" class="nav collapse px-0">
                    <li>
                        <span class="root">
                            <i class="no-child"></i>
                            <a class="sas">+M02398439843</a>
                        </span>
                    </li>
                    <li>
                        <span class="root">
                            <i class="no-child"></i>
                            <a class="sas">+966398439843</a>
                        </span>
                    </li>
                    <li>
                        <span class="root">
                            <i class="no-child"></i>
                            <a class="sas text-success">17101-22323298-3</a>
                        </span>
                    </li>
                    <li>
                        <span class="root">
                            <i class="no-child"></i>
                            <a class="sas text-success">Umrah</a>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="customer_1" data-customerId="1" draggable="true">
        <span class="root" data-toggle="collapse" data-target="#customer_details_1">
            <button class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i>
            </button>
            <a class="sas">Tanzil</a>
        </span>
        <ul id="customer_details_1" class="nav collapse px-0">
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas">+02398439843</a>
                </span>
            </li>
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas">+966398439843</a>
                </span>
            </li>
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas text-success">17101-22323298-3</a>
                </span>
            </li>
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas text-success">Umrah</a>
                </span>
            </li>
        </ul>
    </li>
    <li id="customer_3" data-customerId="3" draggable="true">
        <span class="root" data-toggle="collapse" data-target="#customer_details_3">
            <button class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i>
            </button>
            <a class="sas">Tanzil</a>
        </span>
        <ul id="customer_details_3" class="nav collapse px-0">
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas">+02398439843</a>
                </span>
            </li>
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas">+966398439843</a>
                </span>
            </li>
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas text-success">17101-22323298-3</a>
                </span>
            </li>
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas text-success">Umrah</a>
                </span>
            </li>
        </ul>
    </li>
    <li id="customer_4" data-customerId="4" draggable="true">
        <span class="root" data-toggle="collapse" data-target="#customer_details_4">
            <button class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i>
            </button>
            <a class="sas">Tanzil</a>
        </span>
        <ul id="customer_details_4" class="nav collapse px-0">
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas">+02398439843</a>
                </span>
            </li>
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas">+966398439843</a>
                </span>
            </li>
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas text-success">17101-22323298-3</a>
                </span>
            </li>
            <li>
                <span class="root">
                    <i class="no-child"></i>
                    <a class="sas text-success">Umrah</a>
                </span>
            </li>
        </ul>
    </li>
</ul>
