<div class="filters form">
    <h5 class="bg-grey bg-font-grey font-weight-bold" style="margin: 0px;padding: 10px">
        <i class=" fa fa-user"></i> Customer Filter
    </h5>
    <form action="/" method="post" role="form">
        <div class="form-body" style="padding: 10px 10px 0px">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="3094309090">
            </div>
            <div class="form-group">
                <select class="form-control input-sm">
                    <option>-- Journey Type --</option>
                    <option>Umrahh</option>
                    <option>Hajj</option>
                </select>
            </div>
        </div>
        <div class="text-right" style="padding: 0px 14px">
            <button type="submit" class="btn green btn-sm">Search</button>
        </div>
    </form>

    <h5 class="bg-grey bg-font-grey font-weight-bold" style="margin: 15px 0px 0px;padding: 10px">
        <i class=" fa fa-home"></i> Room Filter
    </h5>
    <form action="/" method="post" role="form">
        <div class="form-body" style="padding: 10px 10px 0px">
            <div class="form-group">
                <select class="form-control input-sm">
                    <option>-- Select Floor --</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control input-sm">
                    <option>-- Select Room --</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
        </div>
        <div class="text-right" style="padding: 0px 14px">
            <button type="submit" class="btn green btn-sm">Search</button>
        </div>
    </form>
</div>
