<div class="drop-container">
    <div class="text-center text-container dropable-focus-show">
        <div class="text-center col-xs-12">
            <i class="fa fa-plus"></i>
            <p>Drop Customers Here</p>
        </div>
    </div>
    <ul id="roomCustomers">
        <li class="text-center">
            <span class="root text-center">
                <span class="text-primary" style="display: block;margin: 0px; padding: 7px; font-size: 20px">
                    <b>R-410</b>
                </span>
                <span style="display: block;margin: 0px; padding: 3px; font-size: 14px;margin-bottom: 10px">
                    <b><i class="fa fa-bed"></i> 2 </b> beds available! 
                </span>
            </span>
        </li>
        <li class="text-center room-empty">
            <span class="root">
                <a class="sas">This room is empty</a>
            </span>
        </li>
        <li id="roomCustomer1">
            <span class="root" data-toggle="collapse" data-target="#roomCustomerDetails1">
                <button class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i>
                </button>
                <a class="sas">
                    Tanzil
                </a>
                <span class="pull-right" style="margin-top: 9px">
                    09 May - 15 May
                </span>
            </span>
            <ul id="roomCustomerDetails1" class="nav collapse px-0">
                <li>
                    <span class="root">
                        <i class="no-child"></i>
                        <a class="sas">+02398439843</a>
                    </span>
                </li>
                <li>
                    <span class="root">
                        <i class="no-child"></i>
                        <a class="sas">+966398439843</a>
                    </span>
                </li>
                <li>
                    <span class="root">
                        <i class="no-child"></i>
                        <a class="sas text-success">17101-22323298-3</a>
                    </span>
                </li>
                <li>
                    <span class="root">
                        <i class="no-child"></i>
                        <a class="sas text-success">Umrah</a>
                    </span>
                </li>
            </ul>
        </li>
    </ul>
    <div class="alert alert-info mb-0">
        <strong><i class="fa fa-exclamation-triangle"></i> 2 Beds!</strong> Still empty.
    </div>
    <div class="alert alert-danger mb-0">
        <strong><i class="fa fa-times-circle"></i> Error!</strong> Room limit reached
    </div>
</div>
