<div class="table-scrollable mt-0">
    <table class="table table-bordered table-hover" id="customersList">
        <thead>
            <tr>
                <th> # </th>
                <th> Name </th>
                <th> NIC </th>
                <th> Phone </th>
                <th> Journey Type </th>
            </tr>
        </thead>
        <tbody>
            <tr draggable="true" id="customer1">
                <td> 1 </td>
                <td> Mark </td>
                <td> 34938923 </td>
                <td> +92334343434 </td>
                <td class="text-success">Umrah</td>
            </tr>
            <tr draggable="true" id="customer2">
                <td> 2 </td>
                <td> Jacob </td>
                <td> 384938439 </td>
                <td> +92334343434 </td>
                <td class="text-primary">Hajj</td>
            </tr>
            <tr draggable="true" id="customer3">
                <td> 3 </td>
                <td> Larry </td>
                <td> 398439938439 </td>
                <td> +92334343434 </td>
                <td class="text-success">Umrah</td>
            </tr>
            <tr draggable="true" id="customer4">
                <td> 4 </td>
                <td> Sandy </td>
                <td> 349883948 </td>
                <td> +92334343434 </td>
                <td class="text-primary">Hajj</td>
            </tr>
        </tbody>
    </table>
</div>
