<form role="form">
    <div class="row">
        <div class="col-md-4">
            <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                <span class="input-group-addon" style="border-left-width: 1px"> From </span>
                <input type="text" class="form-control" name="from">
                <span class="input-group-addon"> To </span>
                <input type="text" class="form-control" name="to">
            </div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Rooms By Vacancy e.g: 4">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Customer e.g: tanzil or 242424534">
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>-- Select Floor --</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-top: 1.5em">
        <div class="col-md-2">
            <label class="hover">
                <input type="checkbox" class="checkbox icheck" data-checkbox="icheckbox_square-blue">
                Available Rooms
            </label>
        </div>
        <div class="col-md-2">
            <label class="hover">
                <input type="checkbox" class="checkbox icheck" data-checkbox="icheckbox_square-blue">
                Free Tomorrow
            </label>
        </div>
        <div class="col-md-2">
            <label class="hover">
                <input type="checkbox" class="checkbox icheck" data-checkbox="icheckbox_square-blue">
                Partialy Filled
            </label>
        </div>
        <div class="col-md-6">
            <label class="hover">
                <input type="checkbox" class="checkbox icheck" data-checkbox="icheckbox_square-blue">
                Filled Rooms
            </label>

            <button type="submit" class="btn green pull-right">Search</button>
        </div>
    </div>
</form>
