<table class="table table-bordered">
    <thead>
        <tr>
            <th class="bg-green-jungle bg-font-green-jungle">Available Rooms</th>
            <th class="bg-blue bg-font-blue">Partialy Filled Rooms</th>
            <th class="bg-red bg-font-red">Filled Rooms</th>
            <th class="bg-yellow-crusta bg-font-yellow-crusta">Free Tomorrow</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>15</td>
            <td>5</td>
            <td>4</td>
            <td>8</td>
        </tr>
    </tbody>
</table>
