<div class="table-scrollable my-0">
    <table class="table table-bordered table-hover" id="roomCustomers">
        <thead>
            <tr>
                <th> # </th>
                <th> Name </th>
                <th> Phone </th>
                <th> From - To </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> Tanzil <br /> - <br /> <span class="text-success"> Umrah </span> </td>
                <td> +92334343434 </td>
                <td> 06 Fri, May 2018 <br /> - <br /> 12 Fri, May 2018 </td>
                <td>
                    <div class="btn-group">
                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">
                            Actions
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="i"></i> Option 1
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">Option 2</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> Ayaz <br /> - <br /> <span class="text-primary"> Hajj </span> </td>
                <td> +92334343434 </td>
                <td> 06 Fri, May 2018 <br /> - <br /> 12 Fri, May 2018 </td>
                <td>
                    <div class="btn-group">
                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">
                            Actions
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="i"></i> Option 1
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">Option 2</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

