<div class="table-scrollable mt-0">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> # </th>
                <th> Name </th>
                <th> NIC </th>
                <th> Phone </th>
                <th> Journey Type </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> Mark </td>
                <td> 34938923 </td>
                <td> +92334343434 </td>
                <td class="text-success">Umrah</td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> Jacob </td>
                <td> 384938439 </td>
                <td> +92334343434 </td>
                <td class="text-primary">Hajj</td>
            </tr>
        </tbody>
    </table>
</div>

