<form class="form-inline py-4 rooms-filter" role="form">
    <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Floors</label>
        <select class="form-control">
            <option>-- Select Floor --</option>
            <option selected>1</option>
            <option>2</option>
        </select>
    </div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Type</label>
        <select class="form-control">
            <option>-- Select Rooms --</option>
            <option>1</option>
            <option selected>2</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success pull-right">Search</button>
</form>

